.cms .ss-gridfield .mockdata-generator-toggle-btn {float:right;margin-bottom:0;margin-top:20px;}	
.cms .ss-gridfield .mockdata-generator-options {background: #ddd; padding:10px;margin:10px 0;height:29px;clear:both;}
.cms .ss-gridfield .mockdata-generator-options button.cancel {margin-left:50px;}
.cms .ss-gridfield .mockdata-generator-options input.text {width: 3em;padding:1px 4px;}
.cms .ss-gridfield .mockdata-options-left {float:left;padding-top:5px;}
.cms .ss-gridfield .mockdata-options-right {float:right;}







/*
#mock-data-admin {}
#ParentID, #DownloadImages, #IncludeRelations {display:none;}
.mock-data-container {padding:40px;}

.dashboard-panel form [disabled] {
	opacity: 0.5;
}






.dashboard-panel {	
	background: #f9f9f9;		
	float: left;
	border: 1px solid #c7c7c7;	
	margin: 20px 20px 0 0;
	position: relative;
}
.mock-data-create-form {
	width:50%;
}
.mock-data-delete {
	width:25%;
	max-width:300px;
	float:right;

}




.dashboard-panel.loading {
	opacity: 0.5;
}

.dashboard-panel .dashboard-panel-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 999;
}

.dashboard-panel .dashboard-panel-header {
	padding: 13px 0 13px 40px;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#f1eaea));
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#f1eaea);
	border-bottom: 1px solid #dad8d8;
	cursor: move;
}

.dashboard-panel-header h3 {
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	font-size: 13px;
}

.dashboard-panel-header-actions {
	position: absolute;
	top: 9px;
	right: 10px;
}

.dashboard-panel-action.ss-ui-button {
	font-size: 11px;
	padding: 0;
}

.dashboard-panel .dashboard-panel-content {
	padding: 10px;
}

.dashboard-panel.hasActions .dashboard-panel-content {
	
}

.dashboard-panel .Actions {
	position: relative;
	min-height: 25px;
	padding: 5px 4px;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#f1eaea));
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#f1eaea);
	border-bottom: 1px solid #dad8d8;	
}


.dashboard-panel .Actions [type=submit] {
	margin:0 auto;
	float:none;
}





.dashboard-panel ul li {
	
}

.dashboard-panel ul li:last-child {
	border: 0;
}

.dashboard-panel ul li a {
	padding: 4px;
	display: block;
}



.dashboard-panel ul li a:hover {
	background: #ddd;
	text-decoration: none;
}
*/
